__pycache__/
.ipynb_checkpoints/
.vscode/
data/
models/


.DS_Store
front end/node_modules/
/dist/
front end/npm-debug.log*
front end/yarn-debug.log*
front end/yarn-error.log*

back end/data
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
